.weather {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid #e8a0bf;
  border-radius: 5px;
  padding: 16px;
  background-color: #fdf4f5;
}

header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #d9367d;
}

.form-control {
  border: 2px solid #c0dbea;
  color: #c0dbea;
}

.search-button {
  background-color: #49a0cf;
  border: 2px solid #49a0cf;
}

.search-button:hover {
  background-color: #d9367d;
  border: 2px solid #d9367d;
  animation: forwards;
}

.weather h1 {
  font-size: 30px;
  line-height: 26px;
  font-weight: 600;
  margin: 30px 0 5px 0;
  color: #ff4193;
}

.weather ul {
  margin: 0;
  padding: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  color: #996ca5;
  list-style: none;
}

.weather .temperature {
  font-weight: 700;
  color: black;
  font-size: 64px;
  line-height: 64px;
}

.weather .units {
  color: #996ca5;
  font-size: 14px;
  position: relative;
  top: -34px;
  line-height: 1;
  margin-left: 5px;
}
.weatherInfo-img {
  height: 100px;
  margin-right: 5px;
  position: relative;
  top: -20px;
}
